#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#fact-container {
  margin-top: 20px;
}

.icon {
  height: 50px;
  width: 50px;
  padding-right: 20px;
}

#comment-form {
  width: 650px;
  height: 150px;
}

#previous-comments {
  list-style-type: none;
}

#post-event {
  display: none;
}

.detail {
  display: none;
}

.project-title {
  color: -webkit-link;
  cursor: pointer;
}

.hidden {
  display: none;
}

.pagination {
  color: -webkit-link;
  cursor: pointer;
}
